body {
    background-color: #1a1a1a;
    color: #ffffff;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
    background-color: #333333;
    color: #ffffff;
}

#editForm {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid #444444;
    border-collapse: collapse;
    background-color: #222222;
    color: #ffffff;
}

th {
    background-color: #333333;
    padding: 5px;
}

td {
    border: 1px solid #444444;
    padding: 5px;
}
